<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ApplicationForm.Properties.Settings.application_personConnectionString"
            connectionString="Data Source=DESKTOP-6TD9LPM\SQLEXPRESS;Initial Catalog=application_person;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>